<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>m1_Magazin</title>
</head>
<body>
<nav class="navbar bg-dark p-3">
  <div class="container-fluid">
    <div class="d-flex">
      <a href="/index.html" class="btn btn-dark me-3"><b>Home</b></a>
      <a href="nou_Magazin.html" class="btn btn-dark"><b>Adauga un nou magazin</b></a>
    </div>
  </div>
</nav>
  {% if missing %}
    <div class="d-flex flex-column justify-content-center align-items-center">
		<h1 class="text-danger mt-5">Selecteaza un magazin inainte de a modifica!</h1>
		<img class="w-25 mt-5" src="https://media.istockphoto.com/id/1252349524/vector/cartoon-effects.jpg?s=612x612&w=0&k=20&c=9LKpp79ZMxVNft5QmLt-ocwjweP-xYMzkulyfApvgBA="
		alt="oops" />
	</div>
	<p class="text-center">
		<a href="modifica_Magazin.html" class="btn btn-primary mt-5">Inapoi la lista de magazine</a>
	</p>
  {% else %}
    <h1 class="text-center m-5">Magazinul selectat</h1>
    <form action="/m2_Magazin.html" method="post">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-end">Id Magazin:</label>
        <div class="col-sm-6">
          <input type="text" name="idmagazin" class="form-control" value="{{ magazin.idmagazin }}" readonly>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-end">Nume:</label>
        <div class="col-sm-6">
          <input type="text" name="Nume" class="form-control" value="{{ magazin.Nume }}">
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-end">Adresa:</label>
        <div class="col-sm-6">
          <input type="text" name="Adresa" class="form-control" value="{{ magazin.Adresa }}">
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-end">Email:</label>
        <div class="col-sm-6">
          <input type="text" name="Email" class="form-control" value="{{ magazin.Email }}">
        </div>
      </div>
      <p class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Modifica magazinul</button>
      </p>
    </form>
  {% endif %}

</body>
</html>
