<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Adauga magazin</title>
</head>
<body>

<nav class="navbar bg-dark p-3">
  <div class="container-fluid">
    <div class="d-flex">
      <a href="/index.html" class="btn btn-dark me-3"><b>Home</b></a>
    </div>
  </div>
</nav>

<div class="container">
{% if success %}
  <div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="text-success m-3">Datele au fost adaugate cu succes!</h1>
    <img style="width: 200px" src="https://media.istockphoto.com/id/691856234/vector/flat-round-check-mark-green-icon-button-tick-symbol-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=hXL5nXQ2UJlh4yzs2LyZC4GtctQG0fs-mk30GPPbhbQ="
	alt="success" />
    <p class="text-center"><a href="/tabela_Magazine.html" class="btn btn-primary mt-5">Inapoi la lista de magazine</a></p>
  </div>
{% else %}
    <h1 class="text-center m-5">Adaugare Magazin Nou</h1>
    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form action="/nou_Magazin.html" method="post">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-end">Nume Magazin:</label>
        <div class="col-sm-6">
          <input type="text" name="Nume" class="form-control" value="{{ form.get('Nume','') }}">
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-end">Adresa:</label>
        <div class="col-sm-6">
          <input type="text" name="Adresa" class="form-control" value="{{ form.get('Adresa','') }}">
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-end">Email:</label>
        <div class="col-sm-6">
          <input type="text" name="Email" class="form-control" value="{{ form.get('Email','') }}">
        </div>
      </div>
      <p class="text-center">
        <button type="submit" class="btn btn-success">Adauga magazinul</button>
        <a href="/tabela_Magazine.html" class="btn btn-secondary ms-2">Renunta</a>
      </p>
    </form>
{% endif %}
</div>
</body>
</html>
