<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  <title>Tabela Magazine</title>
</head>
<body>
<nav class="navbar bg-dark p-3">
  <div class="container-fluid">
    <div class="d-flex">
      <a href="/index.html" class="btn btn-dark me-3"><b>Home</b></a>
      <a href="/nou_Magazin.html" class="btn btn-dark"><b>Adauga un nou magazin</b></a>
    </div>
  </div>
</nav>


  <h1 class="text-center m-5">Tabela Magazine</h1>

  <form action="/sterge_Magazin.html" method="post">
    <table class="table table-hover table-light w-100">
      <thead>
        <tr>
          <th><b>Mark</b></th>
          <th><b>IdMagazin</b></th>
          <th><b>Nume</b></th>
          <th><b>Adresa</b></th>
          <th><b>Email</b></th>
        </tr>
      </thead>
      <tbody>
        {% for m in magazine %}
        <tr>
          <td><input type="checkbox" name="primarykey" value="{{ m.idmagazin }}"></td>
          <td>{{ m.idmagazin }}</td>
          <td>{{ m.Nume }}</td>
          <td>{{ m.Adresa }}</td>
          <td>{{ m.Email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="text-center">
		<input type="submit" value="Sterge liniile marcate" class="btn btn-danger">
	</p>
  </form>

</body>
</html>
